

<ion-content>

  <ion-card class="ion-no-margin">

    <ion-img class="ion-img" src="../../assets/images/welcome.png"></ion-img>
    <ion-card-header>
        <ion-card-title>
          Prêt à apprendre facilement !
        </ion-card-title>
          <ion-cad-subtitle style="font-size: 18;" >
            <strong style="font-size: 18px;">Formez-vous</strong> quelque soit votre statut
          
          </ion-cad-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="signin-btns">
          <ion-button fill="solid" shape="round" class="loginbtn ">Sign In</ion-button>
          <ion-button style="margin-left: 10px;" fill="outline" shape="round" color="dark" >Sign Up</ion-button>

      </div>

      <div class="text-tag">
        <span>Suivez-nous sur</span>
      </div>

      <div class="social-btns">
        <ion-button fill="clear" shape="round" class="loginbtn ion-no-padding">
            <ion-img src="../../assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button style="margin-left: 15px" fill="clear" shape="round" class="loginbtn ion-no-padding" >
          <ion-img src="../../assets/images/instagram.png"></ion-img>

        </ion-button>

    </div>
    </ion-card-content> 

  </ion-card>

</ion-content>
